<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         stopOnError="false"
         failOnWarning="false"
         failOnRisky="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" pathCoverage="false">
        <include>
            <directory suffix=".php">app/</directory>
            <directory suffix=".php">services/</directory>
            <directory suffix=".php">controllers/</directory>
        </include>
        <exclude>
            <directory>app/Views</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
    </php>
</phpunit>
