@font-face {
	font-family: 'dfont';
	src: url('fonts/dfont790c.eot?x4borr');
	src: url('fonts/dfont790c.eot?x4borr#iefix') format('embedded-opentype'), url('fonts/dfont790c.ttf?x4borr') format('truetype'), url('fonts/dfont790c.woff?x4borr') format('woff'), url('fonts/dfont790c.svg?x4borr#dfont') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}






































































